/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: transparent;
    font-weight:normal;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END Reset CSS */

html, body {
    font-family: Courier, "Times New Roman";
    line-height: 1.2;
}
h1 { /* master title */
    color: #fff;
    background-color: #113251;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
h2 { /* page title */
    font-weight: bold;
    color: #113251;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}
h3 { /* section title */
    font-weight: bold;
    font-size: 1.5rem;
}
h4 { /* result title */
    font-weight: bold;
    display: inline;
}
.intro {
    text-align: center;
    font-size: 1.5rem;
}
.mainChoice {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto 0 auto;
    max-width: 50rem;
    font-size: 1.5rem;
}
.mainChoice li {
    width: 24rem;
    margin: 0.25rem;
    border: 0.25rem solid #113251;
    text-align: center;
    height: 5rem;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.mainChoice li:hover {
    background-color: #AAC3DA;
}
.mainChoice a {
    color: #113251;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    background-color: #113251;
    display: flex;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.menu a {
    width: 25%;
    color: #fff;
    padding: 0.25rem 0;
}
.menu a:hover,
#adv .menu .advLink,
#wil .menu .wilLink,
#set .menu .setLink,
#npc .menu .npcLink {
    background-color: #fff;
    color: #113251;
}
.content {
    margin: 1rem;
}
.resultRow {
    margin: 1rem 0;
}
.rollBtn {
    -moz-box-shadow: 0 10px 14px -7px #276873;
    -webkit-box-shadow: 0 10px 14px -7px #276873;
    box-shadow: 0 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #113251), color-stop(1, #6A93B9));
    background:-moz-linear-gradient(top, #113251 5%, #6A93B9 100%);
    background:-webkit-linear-gradient(top, #113251 5%, #6A93B9 100%);
    background:-o-linear-gradient(top, #113251 5%, #6A93B9 100%);
    background:-ms-linear-gradient(top, #113251 5%, #6A93B9 100%);
    background:linear-gradient(to bottom, #113251 5%, #6A93B9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#113251', endColorstr='#6A93B9',GradientType=0);
    background-color:#113251;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:1rem;
    font-family: Courier, "Times New Roman";
    font-weight:bold;
    padding:8px 24px;
    text-decoration:none;
    text-shadow:0 1px 0 #3d768a;
}
.rollBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6A93B9), color-stop(1, #113251));
    background:-moz-linear-gradient(top, #6A93B9 5%, #113251 100%);
    background:-webkit-linear-gradient(top, #6A93B9 5%, #113251 100%);
    background:-o-linear-gradient(top, #6A93B9 5%, #113251 100%);
    background:-ms-linear-gradient(top, #6A93B9 5%, #113251 100%);
    background:linear-gradient(to bottom, #6A93B9 5%, #113251 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6A93B9', endColorstr='#113251',GradientType=0);
    background-color:#6A93B9;
}
.rollBtn:active {
    position:relative;
    top:1px;
}
.directory li { /* list of pages on section index pages */
    margin: 1rem 0;
}
.content p {
    margin: 1rem 0;
}
.hideIt {
    display: none;
}
.content table th,
.content table td {
    border: 1px solid #999;
    text-align: center;
    padding: 0.5rem;
}
.content table td:first-child {
    text-align: left;
}
.content table th {
    font-weight: bold;
}
.content table .tableTitle {
    border-top: none;
    border-left: none;
    border-right: none;
}
.extraSpacing {
    margin-top: 1rem;
}
label { /* title for group of inputs */
    font-weight: bold;
    font-size: 1.25rem;
    display: block;
}
ul + label {
    margin-top: 1rem;
}
.sidebyWrap {
    display: flex;
}
.sideBySide,
.singleton {
    margin: 0 2rem 1rem 0;
}
.sideBySide input,
.singleton input {
    vertical-align: middle;
}
.sideBySide input[type=radio],
.singleton input[type=radio] {
    margin: 0 2px 0 0;
}
strong {
    font-weight: bold;
}
.dispImgPicker {
    border: 1px solid #333;
    text-align: center;
    height: 175px;
    width: 150px;
    position: relative;
}
.dispImgPicker img {
    padding-top: 1rem;
}
.dispImgPicker span {
    display: block;
    background-color: #113251;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
.dispImgPicker + button {
    margin: 1rem 0 0 2rem;
}
fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 1rem;
}
fieldset legend {
    font-size: 1.33rem;
    font-weight: bold;
}